.main {
  width: 100%;
  height: 80%;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;

  background-image: url("https://preview.redd.it/para-qu%C3%A9-se-recauda-tanta-plata-v0-42rdxf7hdmqg1.jpeg?auto=webp&s=7e30f4333814bb95a53b8c53837c712da414ba9e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.countdown {
  backdrop-filter: blur(3px);
  height: 25%;
  width: 100%;
  padding: 10px 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.countdown h1 {
  color: red;
  margin: 0px;
  font-size: 37px;
}

.countdown-container {
  display: grid; /* Activa el diseño de cuadrícula */
  grid-template-columns: 1fr 1fr 1fr 1fr;

  justify-content: center;
  gap: 11px;
  margin: 0px;
}

.time-box {
  background-color: white;
  color: black;
  border-radius: 8px;

  height: 70px;
  width: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-box span {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.time-box p {
  font-size: 1rem;
  margin-top: 5px;
  font-weight: bold;
  display: block;
}
